extends ../layout

block head
    meta(name="description", content="Silverplate | GREAT DEALS")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Silverplate | Store")
    meta(property="og:image", content="https://silverplate.ga/images/Logo-dark.png")
    meta(property="og:url", content="https://greatdeals.silverplate.ga")
    meta(property="og:description", content="Silverplate | Make the best deals you ever had, and visit our bigly store!")

block content
    h1 Silverplate Store
    p This store is currently in development, and will be unveiled soon.