extends layout

block head
    meta(name="description", content="Silverplate | Closing our startup.")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Silverplate | Ceasing Operations")
    meta(property="og:image", content="https://silverplate.ga/images/Logo-dark.png")
    meta(property="og:url", content="https://silverplate.ga/closing")
    meta(property="og:description", content="Closing the Silverplate CAD Education Startup")

block content
    h1 Closing the Silverplate CAD Education Startup
    p
    | Silverplate was a joint project between four team members. We have had multiple successes over our time together,
    | and while we were not ultimately successful in creating a radical and fundamentally new idea, we were able to
    | learn a lot about each other and about the startup process. Thank you to everyone who we met and said hello to us
    | at both the 2018 Angel Investors conference and the Seattle 3D printing conference. Also special thanks to our
    | mentors, who gave useful feedback and suggestions at the different stages of our startup.
    br
    br
    | Thank you to everyone who helped us,
    br
    h4 Silverplate team