extends layout

block head
    meta(name="description", content="Silverplate: Homepage for the Silverplate CAD education startup. " +
    "Enter your email to receive further details from us.")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Silverplate | Contact Us")
    meta(property="og:image", content="https://silverplate.ga/images/Logo-dark.png")
    meta(property="og:url", content="https://silverplate.ga/contact")
    meta(property="og:description", content="Silverplate | Homepage for the Silverplate CAD education startup.")

block content
    h1 Contact
        iframe(src="https://docs.google.com/forms/d/e/1FAIpQLScyswObIIonytomom7ikQIUQeCQtDBkVDUd0DvWu4e1SK-4ww/viewform?embedded=true", width="640", height="766", frameborder="0", marginheight="0", marginwidth="0")
            | Loading...